<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjemr.dao.UserPopedomMapper" >
  <resultMap id="BaseResultMap" type="com.yjemr.pojo.UserPopedom" >
    <id column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <id column="POPEDOM_TYPE" property="popedomType" jdbcType="VARCHAR" />
    <id column="POPEDOM_LEVEL_CODE" property="popedomLevelCode" jdbcType="VARCHAR" />
    <result column="POPEDOM_LEVEL" property="popedomLevel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    USER_ID, POPEDOM_TYPE, POPEDOM_LEVEL_CODE, POPEDOM_LEVEL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.yjemr.pojo.UserPopedomKey" >
    select 
    <include refid="Base_Column_List" />
    from user_popedom
    where 1=1 
    <if test="userId != null">
    	and USER_ID = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="popedomType != null">
      	and POPEDOM_TYPE = #{popedomType,jdbcType=VARCHAR}
    </if>
    <if test="popedomLevelCode != null">
    	and POPEDOM_LEVEL_CODE = #{popedomLevelCode,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.yjemr.pojo.UserPopedomKey" >
    delete from user_popedom
    where USER_ID = #{userId,jdbcType=VARCHAR}
      and POPEDOM_TYPE = #{popedomType,jdbcType=VARCHAR}
      and POPEDOM_LEVEL_CODE = #{popedomLevelCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yjemr.pojo.UserPopedom" >
    insert into user_popedom (USER_ID, POPEDOM_TYPE, POPEDOM_LEVEL_CODE, 
      POPEDOM_LEVEL)
    values (#{userId,jdbcType=VARCHAR}, #{popedomType,jdbcType=VARCHAR}, #{popedomLevelCode,jdbcType=VARCHAR}, 
      #{popedomLevel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yjemr.pojo.UserPopedom" >
    insert into user_popedom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="popedomType != null" >
        POPEDOM_TYPE,
      </if>
      <if test="popedomLevelCode != null" >
        POPEDOM_LEVEL_CODE,
      </if>
      <if test="popedomLevel != null" >
        POPEDOM_LEVEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="popedomType != null" >
        #{popedomType,jdbcType=VARCHAR},
      </if>
      <if test="popedomLevelCode != null" >
        #{popedomLevelCode,jdbcType=VARCHAR},
      </if>
      <if test="popedomLevel != null" >
        #{popedomLevel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yjemr.pojo.UserPopedom" >
    update user_popedom
    <set >
      <if test="popedomLevel != null" >
        POPEDOM_LEVEL = #{popedomLevel,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=VARCHAR}
      and POPEDOM_TYPE = #{popedomType,jdbcType=VARCHAR}
      and POPEDOM_LEVEL_CODE = #{popedomLevelCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yjemr.pojo.UserPopedom" >
    update user_popedom
    set POPEDOM_LEVEL = #{popedomLevel,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=VARCHAR}
      and POPEDOM_TYPE = #{popedomType,jdbcType=VARCHAR}
      and POPEDOM_LEVEL_CODE = #{popedomLevelCode,jdbcType=VARCHAR}
  </update>
</mapper>